<li class="nav-item m-2 border-right d-none d-md-block"></li>
<li class="nav-item small">
    <a class="nav-link" href="https://github.com/SceneGate/Yarhl"><i class="fab fa-github"></i> GitHub</a>
</li>
<li class="nav-item small">
    <a class="nav-link" href="https://github.com/SceneGate/Yarhl/discussions"><i class="fad fa-question-circle"></i> Get Help</a>
</li>
