## AppVeyor CI Integration
version: 1.0.0.{build}-{branch}
image: Visual Studio 2017

environment:
  SONAR_TOKEN:
    secure: +3GOgzhn/1Hxf71M6QG7gCzWMDyUI4eRXCv8xyjumU9w2qqIxoGPACJyYoouU/+m

  matrix:
    - FRAMEWORK: net47
    - FRAMEWORK: netcoreapp2.0

install:
- cmd: >-
    git submodule update --init --recursive

    nuget restore

before_build:
- cmd: msbuild mono-addins\Mono.Addins\Mono.Addins.csproj

build:
- cmd: msbuild /p:TargetFrameworks=%FRAMEWORK% yarhl.sln

after_build:

- cmd: >-
    choco install "msbuild-sonarqube-runner" -y

    MSBuild.SonarQube.Runner.exe begin /k:"yarhl" /d:"sonar.host.url=https://sonarqube.com" /d:"sonar.login=%SONAR_TOKEN%" /d:"sonar.organization=pleonex-github"

    msbuild /p:TargetFrameworks=net47 /t:Rebuild "yarhl.sln"

    MSBuild.SonarQube.Runner.exe end /d:"sonar.login=%SONAR_TOKEN%"
