# Git
.git/

# Output
**/bin/
**/obj/
artifacts/

# IDE
*.userprefs
*.user
*.vs
.vscode/
.github/
**/.vs/

# Linters and Tests
TestResult.xml
StyleCopViolations.xml
StyleCop.Cache
coverage_unit.xml
coverage_integration.xml
coverage_report/

# Cake
tools/*
!tools/packages.config

# Docs
docs/_site/
docs/api/
doc-branch/