# Output
bin/
obj/

# IDE
*.userprefs
*.user
*.vs

# Dependencies
packages/

# Linters and Tests
TestResult.xml
StyleCopViolations.xml
StyleCop.Cache
coverage.xml
coveragereport/

# Cake
tools/

# Docs
docs/_site/
docs/api/
doc-branch/