# Output
bin/
obj/
artifacts/

# IDE
*.userprefs
*.user
*.vs

# Cake
tools/*

# Benchmarks
BenchmarkDotNet.Artifacts/

# Example outputs
src/Yarhl.Examples/outputs/

# Docs
statiq-docs/output
statiq-docs/cache
statiq-docs/wwwroot
statiq-docs/temp
