<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.11.0" targetFramework="net47" />
  <package id="StyleCop.MSBuild" version="5.0.0" targetFramework="net47" developmentDependency="true" />
  <package id="System.Composition" version="1.2.0" targetFramework="net47" />
  <package id="System.Composition.AttributedModel" version="1.2.0" targetFramework="net47" />
  <package id="System.Composition.Convention" version="1.2.0" targetFramework="net47" />
  <package id="System.Composition.Hosting" version="1.2.0" targetFramework="net47" />
  <package id="System.Composition.Runtime" version="1.2.0" targetFramework="net47" />
  <package id="System.Composition.TypedParts" version="1.2.0" targetFramework="net47" />
</packages>